html,body{
    margin:0;
    padding:0;
    font-family: 'Amaranth', sans-serif;
}
.articles h2 {
    color: red;
    padding-bottom: 5%;
}
.articles__tittle2 {
    color: red;
}
.articles p {
    color:gray;
}
.details__info{
    padding: 5%;
    background: #F0F0F0;
    height: 20vh;
}
.details__info h2,p{
    margin: 0;
}
.details__info p{
    color: gray;
}
.details__img{
    height: 350px;
    position: relative;
}
.details__img__lupa{
    background-image: url('https://assets.entrepreneur.com/images/misc/1500266377_what-are-sales-funnels.jpg');
    background-size: cover;
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 300px;
    left: 50%;
    position: absolute;
    top: -5vh;
    transform: translateX(-50%);
    width: 300px;
}
.details__img__info{
    bottom: 0;
    color: gray;
    left: 50%;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}
.details__img__info p:last-child{
    color: red;
}
.details__desc{
    margin: 5%;
    border-top: 5px solid #F0F0F0;
    display: table;
    text-align: right;
}
.details__desc div{
    display: table-cell;
}
.details__desc p{
    color:gray;
}
.details__desc__link {
    background: #E5E5E5;
    border-radius: 50%;
    color: white;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
}
.details__desc__text{
    width: 100%;
}
.details__desc__link i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.links {
    width: 100%;
    padding-left: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}
.links-desktop {
    display: none;
}
.links li {
    display: inline;
}
.logo {
    width: 60px;
}
.logo, .links, .menu {
    display: table-cell;
    vertical-align: middle;
}
.menu {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}
.navbar {
    display: table;
    padding: 2%;
    background-color: black;
    font-size: 0.8em;
    font-family: 'Amaranth', sans-serif;
}
.projects {
    margin: 5%;
    font-family: 'Amaranth', sans-serif;
    border-top: 5px solid #F0F0F0;
}
.projects h2 {
    color: red;
    padding-bottom: 5%;
}
.projects h3 {
    color:gray;
}
.projects p {
    color:gray;
}
.articles {
    margin: 5%;
    font-family: 'Amaranth', sans-serif;
    border-top: 5px solid #F0F0F0;
}
.footer{
    background: red;
    box-sizing: border-box;
    color: gray;
    display: table;
    font-family: 'Amaranth', sans-serif;
    font-size: 0.9em;
    padding: 5%;
    width: 100%;
}
.footer div{
    display: table-cell;
    width: 50%;
}
.footer p{
    margin: 0;
    padding: 0;
}
.footer__info p:first-child{
    margin-bottom: 10px;
}
.footer__search{
    position: relative;
    vertical-align: middle;
}
.footer__search p{
    font-size: 0.8em;
}
.footer__search__field{
    border-radius: 50px;
    display: inline-block;
    width: 62%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.footer__search__button{
    background: black;
    border-color: black;
    border-radius: 0px 50px 50px 0px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    margin-left: -30px;
    width: 40%;
    position: absolute;
    right: 0;
}
/*layout tablet*/
@media(min-width: 768px){
    .navbar {
        height: 150px;  
        display: block;
        background-color: white;
        color: red;
        position: relative;
    }
    .links {
        display: block;
        text-align: right;
        color: red;
        position: absolute;
        right: 67%; 
    }
    .links li {
        display: block;
        line-height: 2em;
    }
    .links-desktop {
        display: block;
        color: red;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1.5em;
        position: absolute;
        right: 28%;
        top: 6%;
    }
    .links-desktop li {
        line-height: 2em;
    }
    .logo {
        width: 200px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .content-hidden {
        display: none;
    }
    .projects {
        overflow: hidden;
    }
    .projects div {
        width: 45%;
        float: left;
    }
    .articles {
        overflow: hidden;
    }
    .articles div {
        width: 45%;
        float: left;
    }
    .details{
        height: 50vh;
    }
    .details__info{
        height: 5vh;
    }
    .details__info div{
        width: 50%;
        position:absolute;
        right: 5%;
    }
    .details__img{
        float: left;
    }
    .details__img__lupa{
        left: 0;
        top: -10vh;
        transform: translate(5%,0%);
    }
    .details__img__info{
        background: white;
        border-radius: 50%;
        border: 4px solid #F0F0F0;
        height: 175px;
        position: absolute;
        top: 135px;
        left: 0%;
        transform: translate(70%,0%);
        width: 175px;
    }
    .details__img__info p:first-child{
        left: 50%;
        position: absolute;
        top: 10%;
        text-align: left;
        transform: translateX(-50%);
    }
    .details__img__info p:last-child{
        left: 50%;
        position: absolute;
        top: 40%;
        text-align: left;
        transform: translateX(-50%);  
    }
    .not-for{
        margin: 0;
        position: absolute;
        right: 5%;
        width: 50%;
    } 
    .details__desc:last-child{
        margin: 0;
        position: absolute;
        right: 5%;
        top: 40vh;
        width: 50%;
    }
    .footer{
        border-radius: 10px;
        margin: 0 5% 1% 5%;
        width: 90%;
    }
}
/*layout desktop*/
@media(min-width: 992px) {
    .links {
        bottom: 3%;
        right: 62%;
    }
    .links li {
        margin-right: 3%;
        float: right;
    }
    .links-desktop {
        width: 50%;
        top: 60%;
        right: 15%;
    }
    .links-desktop li {
        margin-right: 3%;
        float: right;
        right: 28%; 
    }
    .content-hidden {
        display: block;
        margin-right: 0;
    }
    .projects div {
        width: 30%;
        margin-right: 3%;
    }
    .articles div {
        width: 30%;
        margin-right: 3%;
    }
    .details {
        height: 40vh;
    }
    .details__desc:last-child {
        top: 45vh;
    }
    .details__img__lupa{
        height: 450px;
        width: 450px;
    }
    .details__img__info{
        position: absolute;
        top: 170px;
        transform: translate(149%,0%);
    }
    .details__info div {
        box-sizing: border-box;
        width: 50%;
        left: 50%;
        position: relative;
    }
    .footer {
        width: 90%;
        background: white;
    }
    .footer div{
        display: table-cell;
        width: 30%;
    }
    .footer__rock{
        width: 33%;
    }
    .footer__search{
        width: 33%;
        background: red;
    }
    .footer__info{
        width: 34%;
        background: red;
    }
}

