html,body{
    margin:0;
    padding:0;
    font-family: 'Amaranth', sans-serif;
}
.articles h2 {
    color: red;
    padding-bottom: 5%;
}
.articles__tittle2 {
    color: red;
}
.articles p {
    color:gray;
}
.details{

}
.details__info{
    padding: 5%;
    background: #F0F0F0;
    height: 20vh;
}
.details__info h2,p{
    margin: 0;
}
.details__info p{
    color: gray;
}
.details__img{
    height: 350px;
    position: relative;
}
.details__img__lupa{
    background-image: url('https://assets.entrepreneur.com/images/misc/1500266377_what-are-sales-funnels.jpg');
    background-size: cover;
    border: 4px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 300px;
    left: 50%;
    position: absolute;
    top: -5vh;
    transform: translateX(-50%);
    width: 300px;
}
.details__img__info{
    bottom: 0;
    color: gray;
    left: 50%;
    margin-top: 10px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}
.details__img__info p:last-child{
    color: red;
}
.details__desc{
    margin: 5%;
    border-top: 5px solid #F0F0F0;
    display: table;
    text-align: right;
}
.details__desc div{
    display: table-cell;
}
.details__desc p{
    color:gray;
}
.details__desc__link {
    background: #E5E5E5;
    border-radius: 50%;
    color: white;
    display: inline-block;
    position: relative;
    height: 25px;
    width: 25px;
}
.details__desc__text{
    width: 100%;
}
.details__desc__link i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.links {
    width: 100%;
    padding-left: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}
.links li {
    display: inline;
}
.logo {
    width: 60px;
}
.logo, .links, .menu {
    display: table-cell;
    vertical-align: middle;
}
.menu {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}
.navbar {
    display: table;
    padding: 2%;
    background-color: black;
    font-size: 0.8em;
    font-family: 'Amaranth', sans-serif;
}
.projects {
    margin: 5%;
    font-family: 'Amaranth', sans-serif;
    border-top: 5px solid #F0F0F0;
}
.projects h2 {
    color: red;
    padding-bottom: 5%;
}
.projects h3 {
    color:gray;
}
.projects p {
    color:gray;
}
.articles {
    margin: 5%;
    font-family: 'Amaranth', sans-serif;
    border-top: 5px solid #F0F0F0;
}
.footer{
    background: red;
    box-sizing: border-box;
    color: gray;
    display: table;
    font-family: 'Amaranth', sans-serif;
    font-size: 0.9em;
    padding: 5%;
    width: 100%;
}
.footer div{
    display: table-cell;
    width: 50%;
}
.footer p{
    margin: 0;
    padding: 0;
}
.footer__info{
}
.footer__info p:first-child{
    margin-bottom: 10px;
}
.footer__search{
    position: relative;
    vertical-align: middle;
}
.footer__search p{
    font-size: 0.8em;
}
.footer__search__field{
    border-radius: 50px;
    display: inline-block;
    width: 62%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.footer__search__button{
    background: black;
    border-color: black;
    border-radius: 0px 50px 50px 0px;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    margin-left: -30px;
    width: 40%;
    position: absolute;
    right: 0;
}
